<div class="row" style="text-align: center; margin: 5px;">
    <h5>Add Customer</h5>
</div>
<div *ngIf="messageSuccess" class="alert alert-success fade show"  style="display: flex; align-items: center; justify-content: center;" role="alert">
  Successfully Added Customer
</div>
<div *ngIf="messageError" class="alert alert-danger fade show"  style="display: flex; align-items: center; justify-content: center;" role="alert">
  There is something wrong
</div>
<div class="row" style="margin: 15px; margin-top: 75px;">
    <form [formGroup]="addcustomer" #customerdata="ngForm" (ngSubmit)="onSubmit()" class="d-grid gap-3" style=" border: 4px solid blueviolet; padding: 25px;">
        <div class="form-group">
          <label for="First Name">First Name</label>
          <input  type="text"  formControlName="firstName" [ngClass]="{'is-invalid':addcustomer.controls.firstName.errors && addcustomer.controls.firstName.touched }" class="form-control" id="First Name" placeholder="Enter First Name">
          <p *ngIf="addcustomer.controls.firstName?.errors?.required && addcustomer.controls.firstName.touched" class="text-danger">First Name is required</p>
          <p *ngIf="(addcustomer.controls.firstName?.errors?.minlength || addcustomer.controls.firstName?.errors?.maxlength)  && addcustomer.controls.firstName.touched" class="text-danger">The length of the character should be between 3 and 10</p>
          <p *ngIf="addcustomer.controls.firstName?.errors?.pattern && addcustomer.controls.firstName.touched" class="text-danger">Only alphabets allowed and first letter must be capital</p>
        </div>
        <div class="form-group">
          <label for="Middle Name">Middle Name</label>
          <input  type="text" formControlName="middleName"  class="form-control" id="Middle Name" placeholder="Enter Middle Name">
          <!-- <p *ngIf="addcustomer.controls.middleName?.errors?.required && addcustomer.controls.middleName.touched" class="text-danger">Middle Name is required</p> -->
          <p *ngIf="(addcustomer.controls.middleName?.errors?.minlength || addcustomer.controls.middleName?.errors?.maxlength)  && addcustomer.controls.firstName.touched" class="text-danger">The length of the character should be between 3 and 10</p>
          <p *ngIf="addcustomer.controls.middleName?.errors?.pattern && addcustomer.controls.middleName.touched" class="text-danger">Only alphabets allowed and first letter must be capital</p>
        </div>
        <div class="form-group">
            <label for="Last Name">Last Name</label>
            <input type="text" formControlName="lastName" [ngClass]="{'is-invalid':addcustomer.controls.lastName.errors && addcustomer.controls.lastName.touched}" class="form-control" id="Last Name" placeholder="Enter Last Name">
            <p *ngIf="addcustomer.controls.lastName?.errors?.required && addcustomer.controls.lastName.touched" class="text-danger">Last Name is required</p>
            <p *ngIf="(addcustomer.controls.lastName?.errors?.minLength || addcustomer.controls.lastName?.errors?.maxLength)  && addcustomer.controls.firstName.touched" class="text-danger">The length of the character should be between 3 and 10</p>
            <p *ngIf="addcustomer.controls.lastName?.errors?.pattern && addcustomer.controls.lastName.touched" class="text-danger">Only alphabets allowed and first letter must be capital</p>
        </div>
        <div class="form-group" [ngClass]="{'is-invalid':submitted && addcustomer.controls.gender.errors && addcustomer.controls.gender.touched}">
            <label for="Gender">Gender</label>
            <div class="form-check">
                <input formControlName="gender"  class="form-check-input" type="radio" name="gender" id="gender1" value="Male">
                <label class="form-check-label" for="gender1">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="gender2" value="Female">
                <label class="form-check-label" for="gender2">
                  Female
                </label>
              </div>
                <p *ngIf="submitted && addcustomer.controls.gender?.errors?.required && addcustomer.controls.gender.touched" class="text-danger">Gender field is required</p>              
        </div>
        <div class="form-group">
            <label for="Date-of-Birth" >Date of Birth</label>
            <input [max]="getToday()" formControlName="dateOfBirth" name="dateOfBirth" [ngClass]="{'is-invalid':addcustomer.controls.dateOfBirth.errors && addcustomer.controls.dateOfBirth.touched}" type="date" class="form-control" id="Date-of-Birth" placeholder="Enter Date-of-Birth">
            <p *ngIf="addcustomer.controls.dateOfBirth?.errors?.required && addcustomer.controls.dateOfBirth.touched" class="text-danger">DOB is required</p>
        </div>
        <div class="form-group">
            <label for="Citizenship Number">Citizenship Number</label>
            <input formControlName="citizenshipNumber" [ngClass]="{'is-invalid':addcustomer.controls.citizenshipNumber.errors && addcustomer.controls.citizenshipNumber.touched}" type="text" class="form-control" id="Citizenship Number" placeholder="Enter Citizenship Number">
            <p *ngIf="addcustomer.controls.citizenshipNumber?.errors?.required && addcustomer.controls.citizenshipNumber.touched" class="text-danger">Citizenship Number is required</p>
            <p *ngIf="addcustomer.controls.citizenshipNumber?.errors?.pattern && addcustomer.controls.citizenshipNumber.touched" class="text-danger">This is not correct format</p>
        </div>
        <div class="form-group">
            <label for="Address">Address</label>
            <input formControlName="address" [ngClass]="{'is-invalid':addcustomer.controls.address.errors && addcustomer.controls.address.touched}" type="text" class="form-control" id="Address" placeholder="Address">
            <p *ngIf="addcustomer.controls.address?.errors?.required && addcustomer.controls.address.touched" class="text-danger">Address field is required</p>
        </div>
        <div class="form-group" [ngClass]="{'is-invalid':submitted && addcustomer.controls.maritalStatus.errors}">
            <label for="Marital Status">Marital Status</label>
            <div class="form-check">
                <input #maritalStatus (click)="add($event)" formControlName="maritalStatus"  class="form-check-input" type="radio" name="maritalStatus" id="maritalStatus1" value="Married">
                <label class="form-check-label" for="maritalStatus1">
                  Married
                </label>
              </div>
              <div class="form-check">
                <input #maritalStatus (click)="add($event)" formControlName="maritalStatus" class="form-check-input" type="radio" name="maritalStatus" id="maritalStatus2" value="Unmarried">
                <label class="form-check-label" for="maritalStatus2">
                  Unmarried
                </label>
              </div>
              <p *ngIf="submitted && addcustomer.controls.maritalStatus?.errors?.required && addcustomer.controls.maritalStatus" class="text-danger">Marital Status field is required</p>
        </div>
        <div class="form-group">
            <label for="Mobile Number">Contact Number</label>
            <input formControlName="mobileNumber" [ngClass]="{'is-invalid':addcustomer.controls.mobileNumber.errors && addcustomer.controls.mobileNumber.touched}" type="number" class="form-control" id="Mobile Number" placeholder="Mobile Number">
            <p *ngIf="addcustomer.controls.mobileNumber?.errors?.required && addcustomer.controls.mobileNumber.touched" class="text-danger">Contact is required</p>
            <p *ngIf="addcustomer.controls.mobileNumber?.errors?.pattern && addcustomer.controls.mobileNumber.touched" class="text-danger">
              * Invalid mobile number.
            </p>
        </div>
        <div class="form-group">
            <label for="Email Address">Email Address</label>
            <input formControlName="email" [ngClass]="{'is-invalid':addcustomer.controls.email.errors && addcustomer.controls.email.touched}" type="text" class="form-control" id="Email Address" placeholder="Enter Email Address">
            <p *ngIf="addcustomer.controls.email?.errors?.required && addcustomer.controls.email.touched" class="text-danger">Email is required</p>
            <p *ngIf="addcustomer.controls.email?.errors?.pattern && addcustomer.controls.email.touched" class="text-danger">Email pattern is invalid</p>
        </div>
        <div  formArrayName="customerFamilyDetailsRequest">
          <label>Family Details</label>
          <div class="form-group" >
            <div  *ngFor="let group of addcustomer.controls.customerFamilyDetailsRequest['controls'];let i=index;" [formGroupName]="i" >
              <label for="Relation">Relation Name</label>
            <input style="background-color: lightgray;" (input)="findDuplicate(group.controls.relationship, i,addcustomer.get('maritalStatus').value)" [readOnly]="addcustomer.controls['customerFamilyDetailsRequest'].controls[i].controls.relationship.value== 'Father' ||addcustomer.controls['customerFamilyDetailsRequest'].controls[i].controls.relationship.value== 'Mother' ||addcustomer.controls['customerFamilyDetailsRequest'].controls[i].controls.relationship.value== 'Grand Father' ||addcustomer.controls['customerFamilyDetailsRequest'].controls[i].controls.relationship.value== 'Spouse' || readonly"  #famdetails (click)="spouse($event,addcustomer.get('maritalStatus').value,i)"   value="Relation Name"  type="text" formControlName="relationship" [ngClass]="{'is-invalid':submitted && addcustomer.controls['customerFamilyDetailsRequest'].controls[i].controls.relationship.errors}" class="form-control" id="Relation" placeholder="Enter Relation Name">            
            <p *ngIf="group.controls.relationship?.errors?.required && group.controls.relationship.touched" class="text-danger">This field is required</p>
            <p *ngIf="group.controls.relationship?.errors?.pattern && group.controls.relationship.touched" class="text-danger">Only alphabets allowed and first letter must be capital</p>
            <p *ngIf="group.controls.relationship?.errors?.duplicateName " class="text-danger">{{group.controls.relationship.value}} already exists. So, please add other entries</p>
              <label  for="Person Name">Person Name</label>
            <input  type="text"  formControlName="relationPersonName" [ngClass]="{'is-invalid':group.controls.relationPersonName.errors && group.controls.relationPersonName.touched}" class="form-control" id="Person Name" placeholder="Enter Person Name">
            <p *ngIf="group.controls.relationPersonName?.errors?.required && group.controls.relationPersonName.touched" class="text-danger">{{group.controls.relationship.value}} Name is required</p>
            <p *ngIf="group.controls.relationPersonName?.errors?.pattern && group.controls.relationPersonName.touched" class="text-danger">Only alphabets allowed and first letter must be capital</p>
            <button  type="button" *ngIf="(!(addcustomer.controls['customerFamilyDetailsRequest'].controls[i].controls.relationship.value== 'Father' ||addcustomer.controls['customerFamilyDetailsRequest'].controls[i].controls.relationship.value== 'Mother' ||addcustomer.controls['customerFamilyDetailsRequest'].controls[i].controls.relationship.value== 'Grand Father' ||addcustomer.controls['customerFamilyDetailsRequest'].controls[i].controls.relationship.value== 'Spouse') || otherFieldAvailability)" (click)="removeCustomerFamilyDetails(i)" class="btn btn-light btn-add bg-danger ">Remove</button>      
            </div> 
            <button type="button" (click)="addMoreCustomerFamilyDetails()" class="btn btn-light btn-add "><i>+</i>Add More</button>
            </div>
        </div>                  
        <div class="form-group" style="margin: 8px;">
            <button [disabled]="!(addcustomer.valid)" type="submit" class="btn btn-success ">Add</button>
            <button (click)="cancel()" type="button" class="btn btn-primary ">Cancel</button>
        </div>
      </form>
</div>